.contact-page {
	margin-top: 4rem;
	padding-top: 4rem;
	height: 100vh;
	width: 100vw;
	background-color: rgb(220, 220, 220);
	overflow: scroll;
	overflow-x: hidden;
}

.page-title {
	text-align: center;
	font-size: 2rem;
	padding-bottom: 1rem;
}

.coach-list {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	margin: 0 0 0 1rem;
	list-style: none;
	background-color: rgb(220, 220, 220);
}

.coach-item {
	display: flex;
	font-size: 0.8rem;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: space-around;
	list-style: none;
	border-bottom: 3px solid #f2bc40;
	background-color: rgb(220, 220, 220);
	padding: 2rem 0;
	gap: 1rem;
}

.coach-title {
	font-size: 1.5rem;
	margin-bottom: 0.3rem;
	color: #420a72;
}

.coach-email a {
	color: rgb(148, 103, 0);
}

.coach-phone,
.coach-name,
.coach-email {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
}

.coach-name span {
	font-size: 1rem;
}

@media (min-width: 768px) {
	.contact-page {
		padding-top: 4rem;
	}
	.page-title {
		font-size: 3rem;
	}
	.coach-title {
		font-size: 2.2rem;
	}
	.coach-item {
		font-size: 1.5rem;
		letter-spacing: 0.07rem;
		/* height: 100%;
		width: 100vw; */
	}
	.coach-list {
		/* margin-left: 1.5rem; */
		height: 100%;
		width: 100%;
		background-color: rgb(220, 220, 220);
	}
	.player-info span {
		font-size: 2rem;
	}

	.coach-phone,
	.coach-name,
	.coach-email {
		font-size: 1.8rem;
		font-weight: 600;
	}
}
