.contact-page {
	margin-top: 4rem;
	height: 100vh;
	background-color: rgb(220, 220, 220);
}

.page-title {
	text-align: center;
	font-size: 2rem;
}

.coach-list {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0;
	margin: 0 0 0 1rem;
	list-style: none;
}

.coach-item {
	display: flex;
	font-size: 0.8rem;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: space-around;
	list-style: none;
	border-bottom: 1px solid #f2bc40;
}

.coach-title {
	font-size: 1.3rem;
	margin-bottom: 0.3rem;
	color: #420a72;
}

.coach-email a {
	color: #f2bc40;
}
