* {
	margin: 0;
	padding: 0;
}
.main-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 2.8rem;
	flex-grow: 1;
	width: 100%;
	height: 100dvh;
	/* background: linear-gradient(to top, rgb(32, 32, 32), rgb(102, 102, 102)); */
	background-color: rgb(220, 220, 220);
	justify-content: center;
	align-items: center;
	color: #fff;
}

.main-page > * {
	width: 100%;
	color: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
}

.icon-title {
	font-size: 1rem;
	text-decoration: none;
	letter-spacing: 0.13rem;
	font-weight: 600;
}

.icon {
	font-size: 3rem;
	color: rgb(232, 174, 39);
}

.icon-container {
	border-radius: 30px;
	height: 80%;
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background-color: rgb(66, 10, 114);
	gap: 0;
}

li.icon-title::marker {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

@media (max-width: 400px) {
	.boosters-title {
		font-size: 1.2rem;
	}
	.icon {
		font-size: 2.5rem;
	}
	.icon-title {
		font-size: 0.8rem;
	}
}

@media (min-width: 768px) {
	.main-page {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.icon {
		font-size: 4rem;
		margin-bottom: 2rem;
	}

	.icon-title {
		font-size: 2rem;
		text-decoration: none;
	}
	.icon-container {
		height: 85%;
		width: 90%;
	}
}

@media (min-width: 868px) {
	.icon-title {
		font-size: 2.1rem;
		text-decoration: none;
	}
	.boosters-tit .icon {
		font-size: 5rem;
	}
}
