*,
html,
body,
#root {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Anton', serif;
	overflow-x: hidden;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	/* color: rgb(255, 255, 255); */
}

.hidden {
	display: none;
	transition: all 1s;
}

.active {
	display: block;
	transition: all 1s;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}
