.banner {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.image-container {
	width: 100%;
}

@media (min-width: 768px) {
	.banner {
		width: 90vw;
	}
}
