.topNavBar {
	width: 100vw;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 5;
	padding: 1rem 0;
	display: flex;
	justify-content: space-around;
	background-color: rgb(66, 10, 114);
	align-items: center;
}

.nav-logo {
	margin: 0;
	padding: 0;
	width: 3rem;
	height: auto;
}

.school-name {
	color: rgb(242, 188, 64);
	font-weight: 400;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	font-family: 'Anton', sans-serif;
}
.nav-icons {
	font-size: 1.3rem;
	margin-right: 0.5rem;
	align-self: center;
	color: #fff;
}
.menu-bars {
	align-self: center;
	color: white;
}

@media (min-width: 768px) {
	.topNavBar {
		position: sticky;
		top: 0;
		padding: 1.5rem 0;
	}
	.school-name {
		color: rgb(242, 188, 64);
		font-weight: 400;
		font-size: 2rem;
		letter-spacing: 0.2rem;
	}
	.nav-icons {
		font-size: 2rem;
		margin-right: 0.5rem;
		align-self: center;
	}

	.nav-logo {
		width: 5rem;
	}
}
