.side-nav {
	width: 75%;
	background-color: #e2e2e2;
	position: fixed;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0; /* Keep left at 0 when using transform */
	transform: translateX(-100%); /* Initial state: hidden off-screen */
	transition: transform 1s ease; /* Animate transform only */
	z-index: 100;
	overflow: scroll;
}

.nav-list,
.nav-schedule {
	padding-left: 1rem;
	width: 100%;
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	list-style-type: none;
}

.nav-schedule {
	position: relative;
	height: auto;
}

.nav-list li a,
.nav-schedule li a {
	width: 100%;
	color: #420a72;
	background-color: transparent;
	margin-top: 2.5rem;
	list-style: none;
	list-style-type: none;
}

.nav-list {
	border-bottom: 10px double #420a72;
	padding-bottom: 1rem;
}

.nav-list li,
.nav-schedule li {
	list-style: none;
	list-style-type: none;
}

.nav-list li::marker {
	content: none;
}

.side-nav.active {
	left: 0;
	width: 75%;
	transform: translateX(0); /* Use transform for smoother transition */
}

.logo {
	margin-top: 2rem;
	width: 3rem;
}

@media (min-width: 768px) {
	.side-nav {
		font-size: 1.7rem;
	}

	.nav-list,
	.nav-schedule {
		gap: 2rem;
	}
	.logo {
		width: 5rem;
	}

	h4 {
		font-size: 2.1rem;
	}
}
